@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
#title {
  font-weight: bold;
}
.header {
  position: absolute;
  top: 70px;
  right: 0px;
}
.notice {
  background-color: white;
  width: 100px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.board {
  padding: 10px;
  background: rgba(0, 0, 0, 1);
  border-radius: 20px 0px 0px 20px;
  width: 30px;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav {
  position: relative;
  background-color: gainsboro;
  font-size: 25px;
  font-family: arial;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

img {
  height: 25px;
}
.navbar {
  padding-top: 5px;
}

.container {
  position: relative;
  padding: 30px 175px;
  /* width: 112vh; */
}
.openinfo {
  width: 392px;
  height: 692px;
  position: absolute;
  top: 55px;
  left: -300px;
  z-index: 3;
  background-color: #fdfdfd;
  border-radius: 22px;
  box-shadow: rgba(50, 50, 93, 0.25) 1px 1px 5px 5px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: left 0.5s ease;
}
.openinfo.active {
  left: 0;
}
.openinfo.active .open svg {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
.openinfo.active .one {
  display: none;
}

.open {
  padding: 10px 1px 10px 20px;
  background-color: black;
  width: 392px;
  height: 50px;
  border-radius: 0px 22px 0px 0px;
  position: relative;
}
.open svg {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.open p {
  color: white;
  font-size: 16px;
}
.list {
  padding: 20px 50px;
  list-style-type: circle;
}
.list #main {
  padding-bottom: 20px;
}
.one {
  padding-left: 310px;
  padding-top: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  color: #0029ff;
  justify-content: space-between;
  font-family: arial;
  align-items: center;
  padding-bottom: 30px;
}
button {
  border: none;
  outline: none;
  background-color: #0029ff;
  color: white;
  border-radius: 8px;
  padding: 8px 15px;
}
.text {
  background-color: gainsboro;
  border-radius: 5px;
  padding: 20px 20px;
}
.para {
  padding-top: 10px;
  font-size: 12px;
}

.box {
  width: 500px;
  background-color: #fdfdfd;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 1px 1px 5px 5px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.head {
  background-color: black;
  border-radius: 15px 15px 0px 0px;
  padding: 20px 10px;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.head svg {
  position: absolute;
  right: 20px;
}

iframe {
  padding-top: 20px;
  width: 100%;
}

.container1 {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  gap: 50px;
}

.container2 {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  gap: 50px;
}
.content1 {
  background-color: rgba(254, 255, 192, 0.2);
  padding: 10px;
}
.content1 span {
  padding-left: 70px;
}
.content5 span {
  padding-left: 10px;
}
.content2 {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.content3 {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 20px 10px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.content2 input {
  padding: 10px 15px 40px 10px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  position: relative;
  bottom: 11px;
  left: -1px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

#icons {
  padding-left: 90px;
}
select {
  padding: 8px 5px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.content4 {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 20px 10px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
}
.footer {
  padding: 20px 30px;
}
.textcontent {
  padding-top: 20px;
  padding: 10px;
}

.textcontent input {
  padding: 10px 235px 40px 10px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
}
.title,
.title1 {
  padding: 10px 0px;
}
.blank {
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.15);
  height: 43px;
  border-radius: 0px, 0px, 15px, 15px;
}
.blank1 {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
  height: 82px;
  border-radius: 5px, 5px, 0px, 0px;
  color: rgba(97, 97, 97, 1);
}
.blank1 a {
  color: rgba(97, 97, 97, 1);
  text-decoration: none;
  padding: 8px;
  font-size: 12px;
}
.blank1 p {
  padding: 10px 5px 8px 13px;
}
.icon1,
.icon2,
.icon3 {
  width: 14.7px;
  height: 11.7px;
  display: flex;
}
.icon4 {
  background: rgba(235, 235, 235, 1);
  width: 102px;
  height: 18px;
  padding: 0px 20px 0px 10px;
  position: relative;
  left: 30px;
  top: 10px;
  font-size: 12px;
}
.icon5 {
  position: relative;
  left: 30px;
  bottom: 5px;
}
.blank2 {
  height: 200px;
  background: rgba(252, 251, 251, 1);
  box-shadow: -2px 2px 6px 5px rgba(0, 0, 0, 0.15);
}
#content,
.content {
  padding: 30px 30px;
}
.content5 {
  background: rgba(242, 242, 242, 1);
  padding: 10px;
}
.content6 {
  padding-top: 20px;
}
.content7 {
  font-size: 14px;
  padding: 20px 20px 30px 20px;
}
.info {
  color: rgba(96, 97, 97, 1);
  padding-bottom: 10px;
}
.maininfo {
  padding-left: 350px;
}
.content8,
.contents {
  height: 43px;
  border: 1px solid rgba(217, 215, 215, 1);
  padding: 10px;
}
.final {
  padding: 10px 4px 5px 40px;
}
.last {
  padding-top: 20px;
  font-size: 14px;
}
.inform {
  position: absolute;
  right: 5px;
  bottom: -170%;
}
.inform img,
.inform p {
  background-color: #0029ff;
  border-radius: 80px;
  padding: 10px;
  height: 50px;
  width: 50px;
  position: relative;
  left: 18px;
}
@media (max-width: 600px) {
    .container1,
  .container2 {
    flex-direction: column;
  }
  .box {
    width: 500px;
  }

  .nav {
    position: relative;
    background-color: gainsboro;
    font-size: 25px;
    font-family: arial;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 166%;
  }
  .content2 {
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: space-evenly;
  }
  .inform {
    position: absolute;
    right: -271px;
    bottom: -200%;
  }
  .container {
    position: relative;
    padding: 35px 1px 35px 106px;
    width: 500px;
  }
  .header {
    position: absolute;
    top: 70px;
    right: -272px;
  }
  .content2 input {
    padding: 10px 0px 40px 10px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    position: relative;
    bottom: 11px;
    left: -1px;
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .textcontent input {
    padding-bottom: 40px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
